{% extends "Resto/padre.html" %}


{% load static %}

{% block titulo %}

 Bienvenidos a Sabores Latinos

{% endblock %} 


{% block titulo1 %}

Sabores Latinos


{% endblock %} 

{% block titulo2 %}

Reserva ahora!


{% endblock %} 


{% block descripcion1 %}

   
<form 

action="" method= "POST" > {% csrf_token %}

    <table>

        {{form3.as_table}}


    <table>

<input type= "submit" value= "Reservar">

</form>

{% endblock %} 

{% block titulo3 %}

TIP Ingrediente

{% endblock %}


{% block titulo4 %}

PALTA

{% endblock %} 

{% block descripcion2 %}

La palta es un alimento sabroso y muy versátil, pero además tiene muchas propiedades, por lo que incluirlo en la dieta es una muy buena idea

{% endblock %} 



