<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <p> Reserva registrada por: {{nombre}} </p>

    {% if reserva %}

    <ul>
        {% for nombre in reserva %}

            <li>Nombre:{{ nombre.nombre }} </li>
            <li>DNI:{{ nombre.DNI }}</li>
            <li>Mesa:{{ nombre.numero_mesa}}</li>
            <li>Invitados:{{ nombre.num_invitados}}</li>
            <li>Fecha:{{ nombre.fecha_de_reservacion }}</li>

        {% endfor %}

    </ul>
    {% else %}

        <p>  No se encontraron reservaciones.</p>

    {% endif %}





</body>
</html>
